@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
#about-me {
    color: #bd6363;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 100px auto;
    font-size: 4rem;
}

.myImage {
    width: 30%;
    cursor: pointer;
}